@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&family=Work+Sans&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
  /* border: 1px solid red; */
}
.pink {
  color: #ff42a5;
}
.nav1 h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.nav1 img {
  width: 4rem;
  height: 2rem;
}
.nav1 {
  display: flex;
  gap: 1rem;
}
.nav2 {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  justify-content: center;
}
.navv {
  padding-top: 2.5em;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 98vw;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.nav2 a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
}

.big {
  color: #8758f1;
  font-weight: bolder;
}
.goat {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.btn {
  padding: 1em 2em;
  background-color: #ff42a5;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
}
.btn2:hover {
  cursor: pointer;
}
.btn2 {
  padding: 1em 2em;
  background-color: #4ec5f7;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.goat h1 {
  padding-bottom: 1em;
}
.signup-gorogue {
  padding-top: 1.5em;
}
.goat p {
  padding-bottom: 1em;
}
.ggoat {
  width: 100%;
  height: 100%;
  text-align: center;
}
.ggoat p {
  font-size: 1.25rem;
}
.link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  background-color: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
  width: 15rem;
  height: 3rem;
}
.fr1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.main1 {
  width: 93vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main1-text h1 {
  font-size: 3rem;
  color: #f948b2;
  font-weight: 700;
}
.main1-text h3 {
  font-size: 1.5rem;
  color: #534c64;
  font-weight: 500;
  padding-top: 1em;
}
.main1-text h2 {
  font-size: 2rem;
  color: #534c64;
  font-weight: 700;
}
.main1-text p {
  font-size: 1.2rem;
  color: #534c64;
  font-weight: 400;

  padding-top: 1em;
  padding-bottom: 1em;
}
.main1-text {
  text-align: end;
}
.FV {
  color: #8758f1;
}
.main2 h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.main2 p {
  font-size: 1rem;
  font-weight: 400;
  color: #534c64;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
.main2 {
  text-align: center;
}
.main2-pic img {
  width: 16rem;
  height: 20rem;
}
.main2-pic {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 1em;
}
.main2-2 {
  width: 80vw;

  margin: auto;
}
.main2-pic p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #534c64;
}
.main2-pic img:hover {
  cursor: pointer;
}
.main3 {
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main3-pic img {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.m3p2 {
  margin-top: -17em;
  margin-left: -10em;
}

.main3-text h1 {
  font-weight: 900;
  font-size: 3rem;
}
.main3-text p {
  font-weight: 400;
  font-size: 1rem;
  color: #534c64;
  padding-top: 1.5em;
}
.main4 {
  width: 98vw;
  height: 65vh;
  background-color: #ff42a5;
  color: white;
}
.m4t2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.m4t2-btn {
  background-color: white;
  color: #f948b2;
  padding: 1.25em 2.5em;
  border-radius: 48px;
  border: none;
  margin-top: 2em;
}
.main4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main4-img img {
  width: 40rem;
  height: 30rem;
}
.main4-text h1 {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 0.8em;
}
.main4-text > p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.8em;
}
.main4-text {
  margin-left: 2em;
}

/* .
.
.
.
.Responsive for Mobile */
@media screen and (max-width: 576px) {
  .navv {
    flex-direction: column;
    box-shadow: none;
  }
  .nav2 {
    flex-direction: column;
    margin-top: 1.5em;
    text-align: center;
  }
  .goat {
    text-align: center;
    flex-direction: column-reverse;
  }
  .grp18 img {
    width: 80vw;
  }
  .ggoat p {
    font-size: small;
  }
  .ggoat {
    margin-top: 1.5em;
  }
  .main1 {
    flex-direction: column;
  }
  .main1 img {
    width: 90vw;
  }
  .main1-text {
    text-align: center;
  }
  .main1-text h1 {
    font-size: 2rem;
  }
  .main1-text p {
    font-size: 0.8rem;
  }
  .main1-text h3 {
    font-size: 1rem;
  }
  .main1-text h2 {
    font-size: 1.2rem;
  }
  .main2-pic {
    flex-direction: column;
  }
  .main2 {
    margin-top: 4em;
  }
  .main2 h1 {
    font-size: 1.8rem;
  }
  .main2 p {
    font-size: 0.8rem;
  }
  .main3 {
    flex-direction: column;
  }
  .main3-pic {
    display: flex;
    flex-direction: column;
  }
  .m3p1 {
    height: 22rem;
    width: 20rem;
    margin-left: 3em;
  }
  .m3p2 {
    height: 11rem;
    width: 9rem;
    margin: 0em;
    margin-top: -8em;
  }
  .main3-text p {
    padding-top: 0.5em;
    padding-bottom: 1em;
  }
}
/* Responsive For Tablet */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .navv {
    box-shadow: none;
  }
  .ggoat {
    margin-top: 1.5em;
  }
  .grp18 img {
    width: 80vw;
  }
  .goat {
    flex-direction: column-reverse;
  }
  .main1 {
    flex-direction: column;
  }
  .main1 img {
    width: 90vw;
  }
  .main1-text {
    text-align: center;
  }
  .main2-pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main2 {
    margin-top: 4em;
  }
  .main2 h1 {
    font-size: 3rem;
  }
  .main2 p {
    margin-bottom: 1.5em;
  }
  .m3p1 {
    height: 22rem;
    width: 20rem;
    margin-left: 3em;
  }
  .m3p2 {
    height: 11rem;
    width: 9rem;
    margin: 0em;
    margin-top: -8em;
    margin-left: -1.5em;
  }
}
